<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 5 Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

  <link href="StyleSheet.css" rel="stylesheet">
</head>


<body>

  <div class="container text-left">
    <div class="row">
      <div class="col-1">  
      </div>
      <div class="col-8" id = "projectborder" >
          <h1 style="font-weight: bold;">Edit Project</h1>

          <%= render "form", project: @project %>
          <br>
          <div >
            <%= link_to "Show this project", @project, class: "index-link" %> |
            <%= link_to "Back to projects", projects_path, class: "index-link"%>
          </div>
      </div>

      
    </div>
  </div>

</body>
</html>