/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    color: darkslategrey;
    font-weight: bold; 
}

body {
    background-color: lightgrey;
}


h4 {
    color: steelblue;     
}

form {
    color:slategrey ; 
    font-weight: bold; 
    display: block; 
    width: 1000px; 
    float: left;
    font-size: 16px;
} 
  
input[type=submit] {
    background-color: silver;
    border: 3px solid black;
    color: darkslategrey;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 6px;
    }

button {
    background-color: silver;
    border: 3px solid black;
    color: darkslategrey;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 6px;
    }    

#projectborder {
position: relative;
border: 3px solid black;
float: left;
padding: 12px 32px;
}

.index-link {
    color: steelblue;
    font-weight: bold;
}